/x64/Debug/Kaprekar.exe
/x64/Debug/Kaprekar.exe.recipe
/x64/Debug/Kaprekar.ilk
/x64/Debug/Kaprekar.log
/x64/Debug/Kaprekar.obj
/x64/Debug/Kaprekar.pdb
/x64/Debug/Kaprekar.tlog/CL.command.1.tlog
/x64/Debug/Kaprekar.tlog/Cl.items.tlog
/x64/Debug/Kaprekar.tlog/CL.read.1.tlog
/x64/Debug/Kaprekar.tlog/CL.write.1.tlog
/x64/Debug/Kaprekar.tlog/Kaprekar.lastbuildstate
/x64/Debug/Kaprekar.tlog/link.command.1.tlog
/x64/Debug/Kaprekar.tlog/link.read.1.tlog
/x64/Debug/Kaprekar.tlog/link.write.1.tlog
/x64/Debug/Kaprekar.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/.vs/Kaprekar/FileContentIndex/6f6045cf-4338-4f74-8027-49842566fa4c.vsidx
/.vs/Kaprekar/v17/.suo
/.vs/Kaprekar/v17/Browse.VC.db
/.vs/Kaprekar/v17/Browse.VC.db-shm
/.vs/Kaprekar/v17/Browse.VC.db-wal
/.vs/Kaprekar/v17/Browse.VC.opendb
/.vs/Kaprekar/v17/ipch/AutoPCH/65746602ac333ab1/KAPREKAR.ipch
